.idea
.vscode
/config/.env
/config/.env.akce
/config/.env.shop
/config/.env.www
/config/.env.caddy
/data
/src/autumn/target

/src/shop/vendor
/src/main/vendor
/src/events/vendor

/src/shop/storage
/src/main/storage
/src/events/storage

.env
.autumn