.idea
.vscode
/config/.env
/config/.env.akce
/config/.env.shop
/config/.env.www
/config/.env.caddy
/data
/src/autumn/target
/src/dashboard/node_modules

/src/shop/vendor
/src/main/vendor
/src/events/vendor

/src/shop/storage
/src/main/storage
/src/events/storage

.env
.autumn

/src/dashboard/vendor/orchid/platform/node_modules
/data/

/vendor
/composer.json
/composer.lock
