.custom-loader {
    width:50px;
    height:50px;
    border-radius:50%;
    border:8px solid;
    border-color:#E4E4ED;
    border-right-color: #F47024;
    animation:s2 1s infinite linear;
    top: 45%
}
@keyframes s2 {to{transform: rotate(1turn)}}

.small-loader {
    width:20px;
    height:20px;
    border-radius:20%;
    border:4px solid;
    border-color:#E4E4ED;
    border-right-color: #F47024;
    animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.centered-bar {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:white;
}

.styled {
    font-family: 'Montserrat';font-size: 22px;
    text-align: center;
    text-decoration: solid;
    position: fixed;
    bottom: 100%;

    top: 50%; left: 50%;

    color: black;
}

.error-mask {
    top: 45%
}

div.scroll {
    margin:4px, 4px;
    padding:4px;
    background-color: green;
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-x: auto;
    text-align:justify;
}
