<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order page test</title>

    <link rel="stylesheet" href="https://dashboard.rsiniya.uk/semantic/semantic.min.css">
    <link rel="stylesheet" href="https://dashboard.rsiniya.uk/css/loader.css">
    <script type="text/javascript" src="https://dashboard.rsiniya.uk/semantic/semantic.min.js"></script>
</head>
<body>
    <div class="ui container fluid">
        <div class="ui ordered steps">
            <div class="completed step">
                <div class="content">
                    <div class="title">Shipping</div>
                    <div class="description">Choose your shipping options</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
